
/*

联系我们
*/
.comtactus_1 {



}
.comtactus_1_img{

   height: 40px;
margin-top: 20px;
    margin-bottom: 10px;

}

.comtactus_1 table {
    width: 100%;
    height: 200px;
    background-color: #7bc584;
    text-align: center;
    margin-bottom: 20px;

}

.comtactus_1 table tr {
    width: 100%;
    height: 100%;

}

.comtactus_1 table tr td {
    width: 33%;

}

.comtactus_1 table tr td img {
    height: 150px;
    width: 150px;

}

.comtactus_1 table tr td p {
    margin-top: 15px;
    color: #FFF;
    font-size: 12px;

}

.comtactus_2 {


    width: 100%;
    margin-bottom: 20px;

}

.comtactus_2 img {
    height: 300px;
    width: 100%;

}

.comtactus_3 {


    width: 100%;

}

.comtactus_3 p {
    color: black;
    font-size: 14px;

}

.comtactus_3 textarea {
    float: right;
    border-radius: 5px;
    border-color: #000000;
    height: 150px;
    width: 92%;
    color: #8a8a8a;

}

.comtactus_3 input {
    margin-top: 15px;
    float: right;
    width: 100px;
    height: 30px;
    background-color: #13a730;
    border: #13a730;
    border-radius: 3px;
}